/target/
!.mvn/wrapper/maven-wrapper.jar

### STS / Eclipse ###
.classpath
.project
.settings/

### IntelliJ ###
.idea/
*.iml

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db

### Application config ###
application.properties
